<a href="https://colab.research.google.com/github/andreaaraldo/machine-learning-for-networks/blob/master/08.predictive-maintenance/.ignore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aircraft Engines

We have a time series of aircraft engines measures. A sample is a vector of recordings at a specific time stamp of a certain engine.

The goal is to predict, by observing these measures, when an engine is going to fail.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Setting seed for reproducability
np.random.seed(1234)  
PYTHONHASHSEED = 0
from sklearn import preprocessing

from sklearn.utils.multiclass import unique_labels
from sklearn.metrics import classification_report

In [3]:
! wget https://raw.githubusercontent.com/andreaaraldo/machine-learning-for-networks/master/08.predictive-maintenance/dataset/original/PM_train.txt
! wget https://raw.githubusercontent.com/andreaaraldo/machine-learning-for-networks/master/08.predictive-maintenance/dataset/original/PM_test.txt
! wget https://raw.githubusercontent.com/andreaaraldo/machine-learning-for-networks/master/08.predictive-maintenance/dataset/original/PM_truth.txt

--2020-05-19 21:04:38--  https://raw.githubusercontent.com/andreaaraldo/machine-learning-for-networks/master/08.predictive-maintenance/dataset/original/PM_train.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3515356 (3.4M) [text/plain]
Saving to: ‘PM_train.txt.1’

PM_train.txt.1      100%[===================>]   3.35M  15.2MB/s    in 0.2s

2020-05-19 21:04:38 (15.2 MB/s) - ‘PM_train.txt.1’ saved [3515356/3515356]

--2020-05-19 21:04:41--  https://raw.githubusercontent.com/andreaaraldo/machine-learning-for-networks/master/08.predictive-maintenance/dataset/original/PM_test.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2228855 (2.1M) [text/plain]
Saving to: ‘PM_test.txt’

PM_test.txt         100%[===================>]   2.12M  9.90MB/s    in 0.2s

2020-05-19 21:04:43 (9.90 MB/s) - ‘PM_test.txt’ saved [2228855/2228855]

--2020-05-19 21:04:45--  https://raw.githubusercontent.com/andreaaraldo/machine-learning-for-networks/master/08.predictive-maintenance/dataset/original/PM_truth.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 429 [text/plain]
Saving to: ‘PM_truth.txt’

PM_truth.txt        100%[===================>]     429  --.-KB/s    in 0s

2020-05-19 21:04:46 (17.3 MB/s) - ‘PM_truth.txt’ saved [429/429]

In [0]:
# read training data 
train_df = pd.read_csv('PM_train.txt', sep=" ", header=None)
train_df.drop(train_df.columns[[26, 27]], axis=1, inplace=True)
train_df.columns = ['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
                     's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
                     's15', 's16', 's17', 's18', 's19', 's20', 's21']

In [17]:
# read test data
test_df = pd.read_csv('PM_test.txt', sep=" ", header=None)
test_df.drop(test_df.columns[[26, 27]], axis=1, inplace=True)
test_df.columns = ['id', 'cycle', 'setting1', 'setting2', 'setting3', 's1', 's2', 's3',
                     's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
                     's15', 's16', 's17', 's18', 's19', 's20', 's21']

test_df.head()

   id  cycle  setting1  setting2  setting3  ...  s17   s18    s19    s20      s21
0   1      1    0.0023    0.0003     100.0  ...  392  2388  100.0  38.86  23.3735
1   1      2   -0.0027   -0.0003     100.0  ...  393  2388  100.0  39.02  23.3916
2   1      3    0.0003    0.0001     100.0  ...  393  2388  100.0  39.08  23.4166
3   1      4    0.0042    0.0000     100.0  ...  391  2388  100.0  39.00  23.3737
4   1      5    0.0014    0.0000     100.0  ...  390  2388  100.0  38.99  23.4130

[5 rows x 26 columns]

In [0]:
# read ground truth data
truth_df = pd.read_csv('PM_truth.txt', sep=" ", header=None)
truth_df.drop(truth_df.columns[[1]], axis=1, inplace=True)

In [19]:
train_df = train_df.sort_values(['id','cycle'])
train_df.head()

   id  cycle  setting1  setting2  setting3  ...  s17   s18    s19    s20      s21
0   1      1   -0.0007   -0.0004     100.0  ...  392  2388  100.0  39.06  23.4190
1   1      2    0.0019   -0.0003     100.0  ...  392  2388  100.0  39.00  23.4236
2   1      3   -0.0043    0.0003     100.0  ...  390  2388  100.0  38.95  23.3442
3   1      4    0.0007    0.0000     100.0  ...  392  2388  100.0  38.88  23.3739
4   1      5   -0.0019   -0.0002     100.0  ...  393  2388  100.0  38.90  23.4044

[5 rows x 26 columns]

Just as an example, let us check when the engine 1 fails. Obviously, it fails in the last cycle for which we have measures for it.

In [20]:
fail = max(train_df [ train_df['id']==1 ] ['cycle'] )
print ("Engine 1 fails at cycle ", fail)

Engine 1 fails at cycle  192

In the test data, we have an incomplete time series (you can imagine we have recordings up to "now", so we do not know at what cycle in the future the engine will fail).

Note that the ids in the train and test set do not correspond. Engine 1 in the training set is not Engine 1 of the test set.

In [21]:
test_df [ test_df['id']==1 ]

    id  cycle  setting1  setting2  setting3  ...  s17   s18    s19    s20      s21
0    1      1    0.0023    0.0003     100.0  ...  392  2388  100.0  38.86  23.3735
1    1      2   -0.0027   -0.0003     100.0  ...  393  2388  100.0  39.02  23.3916
2    1      3    0.0003    0.0001     100.0  ...  393  2388  100.0  39.08  23.4166
3    1      4    0.0042    0.0000     100.0  ...  391  2388  100.0  39.00  23.3737
4    1      5    0.0014    0.0000     100.0  ...  390  2388  100.0  38.99  23.4130
5    1      6    0.0012    0.0003     100.0  ...  392  2388  100.0  38.91  23.3467
6    1      7   -0.0000    0.0002     100.0  ...  391  2388  100.0  38.85  23.3952
7    1      8    0.0006   -0.0000     100.0  ...  393  2388  100.0  39.05  23.3224
8    1      9   -0.0036    0.0000     100.0  ...  391  2388  100.0  39.10  23.4521
9    1     10   -0.0025   -0.0001     100.0  ...  391  2388  100.0  38.87  23.3820
10   1     11    0.0007   -0.0004     100.0  ...  391  2388  100.0  39.06  23.3609
11   1     12    0.0026    0.0003     100.0  ...  391  2388  100.0  39.11  23.3845
12   1     13   -0.0056    0.0003     100.0  ...  392  2388  100.0  39.08  23.3677
13   1     14    0.0017   -0.0004     100.0  ...  392  2388  100.0  39.03  23.4572
14   1     15   -0.0003   -0.0003     100.0  ...  392  2388  100.0  39.04  23.3672
15   1     16   -0.0018    0.0003     100.0  ...  390  2388  100.0  38.87  23.3484
16   1     17    0.0014    0.0002     100.0  ...  391  2388  100.0  39.09  23.3409
17   1     18    0.0035    0.0001     100.0  ...  391  2388  100.0  38.96  23.4481
18   1     19    0.0029    0.0001     100.0  ...  391  2388  100.0  39.06  23.3809
19   1     20    0.0011   -0.0001     100.0  ...  392  2388  100.0  39.00  23.3325
20   1     21    0.0038   -0.0002     100.0  ...  392  2388  100.0  38.96  23.4025
21   1     22    0.0012    0.0001     100.0  ...  392  2388  100.0  38.94  23.3770
22   1     23    0.0009   -0.0000     100.0  ...  393  2388  100.0  39.10  23.3186
23   1     24   -0.0006   -0.0001     100.0  ...  393  2388  100.0  38.94  23.3971
24   1     25    0.0028   -0.0003     100.0  ...  393  2388  100.0  38.96  23.3785
25   1     26    0.0047   -0.0005     100.0  ...  391  2388  100.0  38.77  23.3557
26   1     27   -0.0007    0.0001     100.0  ...  392  2388  100.0  38.87  23.3931
27   1     28    0.0022    0.0005     100.0  ...  392  2388  100.0  38.83  23.3502
28   1     29    0.0014    0.0001     100.0  ...  392  2388  100.0  39.02  23.3621
29   1     30   -0.0025    0.0004     100.0  ...  391  2388  100.0  39.09  23.4069
30   1     31   -0.0006    0.0004     100.0  ...  393  2388  100.0  38.81  23.3552

[31 rows x 26 columns]

The last measurement we had for Engine 1 in the test set is 31, but the engine may have survived also later.

## Feature engineering (pre-processing)

### Training Set

---

Let us add to the training table a column `remaining_duration` indicating, for each cycle, how many remaining cycle we must wait before the engine fails.

In [22]:
failing_cycle = \
   pd.DataFrame(train_df.groupby('id')['cycle'].max() )

# reset_index is needed to make the following merge 
# operation work
failing_cycle = failing_cycle.reset_index()
failing_cycle.columns = ['id', 'max']
train_df_aug = train_df.merge(failing_cycle, on=['id'], 
                          how='left')
train_df_aug['remaining_duration'] = train_df_aug['max'] - \
    train_df_aug['cycle']
train_df_aug.drop('max', axis=1, inplace=True)
train_df_aug.head()

   id  cycle  setting1  setting2  ...    s19    s20      s21  remaining_duration
0   1      1   -0.0007   -0.0004  ...  100.0  39.06  23.4190                 191
1   1      2    0.0019   -0.0003  ...  100.0  39.00  23.4236                 190
2   1      3   -0.0043    0.0003  ...  100.0  38.95  23.3442                 189
3   1      4    0.0007    0.0000  ...  100.0  38.88  23.3739                 188
4   1      5   -0.0019   -0.0002  ...  100.0  38.90  23.4044                 187

[5 rows x 27 columns]

#### Normalize

We normalize the measures, to avoid that one monopolizes and biases the results. We normalize everything except id, cycles, label1, remaining_duration

In [0]:
cols_to_normalize = \
    train_df.columns.difference(['id','cycle','remaining_duration','label1'])
min_max_scaler = preprocessing.MinMaxScaler()
norm_train_df = pd.DataFrame(min_max_scaler.fit_transform(train_df_aug[cols_to_normalize]), 
                             columns=cols_to_normalize, 
                             index=train_df_aug.index)
the_rest_of_train_df = \
    train_df_aug[train_df_aug.columns.difference(cols_to_normalize)]


# Since the_rest_of_train_df and norm_train_df have the same
# index, we can join them and be sure that the values of 
# each row across columns will be correct
join_df = the_rest_of_train_df.join(norm_train_df)

# At this point, the order of columns has changed. We reset
# it as in the original dataframe
train_df_norm = join_df.reindex(columns = train_df_aug.columns)

### Test set

The engines in the test set are different than the engines in the training set, even if they have the same id.
The test data will be obtained from the test file together with the ground truth file

#### Normalize

In [0]:
norm_test_df = pd.DataFrame(min_max_scaler.transform(test_df[cols_to_normalize]), 
                            columns=cols_to_normalize, 
                            index=test_df.index)
test_join_df = \
    test_df[test_df.columns.difference(cols_to_normalize)].join(norm_test_df)

# Reorder columns
test_df_norm = test_join_df.reindex(columns = test_df.columns)

#### Other processing

We create the test dataset, by adding to each row the `remaining_duration`. 
Before doing that, let us see what is the cycle in which each of the engines in the test set fails

In [0]:
last_measurement = \
    pd.DataFrame(test_df.groupby('id')['cycle'].max()).reset_index()
last_measurement.columns = ['id','max']

truth_df.columns = ['remaining_life']
truth_df_aug = truth_df.copy(deep=True)
truth_df_aug['id'] = truth_df.index + 1
truth_df_aug['fail_cycle'] = \
    last_measurement['max']+truth_df['remaining_life']

In [26]:
truth_df_aug.drop('remaining_life', axis=1, inplace=True)
truth_df_aug.head()

   id  fail_cycle
0   1         143
1   2         147
2   3         195
3   4         188
4   5         189

Now, we can assign the `remaining_duration` to each engine for each cycle

In [27]:
test_df_merged = test_df_norm.merge(truth_df_aug, on=['id'],\
                                   how='left')
test_df_merged['remaining_duration'] = \
    test_df_merged['fail_cycle']-test_df_merged['cycle']
test_df_merged.drop('fail_cycle', axis=1,inplace=True)
test_df_merged.head()

   id  cycle  setting1  setting2  ...  s19       s20       s21  remaining_duration
0   1      1  0.632184  0.750000  ...  0.0  0.558140  0.661834                 142
1   1      2  0.344828  0.250000  ...  0.0  0.682171  0.686827                 141
2   1      3  0.517241  0.583333  ...  0.0  0.728682  0.721348                 140
3   1      4  0.741379  0.500000  ...  0.0  0.666667  0.662110                 139
4   1      5  0.580460  0.500000  ...  0.0  0.658915  0.716377                 138

[5 rows x 27 columns]

# Adding censoring

We now assume 10% of the training and test sets are censored

In [40]:
train_samples = train_df_norm.shape[0]
test_samples = test_df_merged.shape[0]
print("Train samples are ", train_samples, ", test samples are ", test_samples)

Train samples are  20631 , test samples are  13096

In [41]:
train_failure_observed = np.random.choice([0, 1], size=(train_samples), 
                                          p=[0.1, 0.9])
test_failure_observed = np.random.choice([0, 1], size=(test_samples), 
                                          p=[0.1, 0.9])

train_df_norm['failure_observed'] = train_failure_observed
test_df_merged['failure_observed'] = test_failure_observed

train_df_norm

        id  cycle  setting1  ...       s21  remaining_duration  failure_observed
0        1      1  0.459770  ...  0.724662                 191                 1
1        1      2  0.609195  ...  0.731014                 190                 0
2        1      3  0.252874  ...  0.621375                 189                 0
3        1      4  0.540230  ...  0.662386                 188                 1
4        1      5  0.390805  ...  0.704502                 187                 1
...    ...    ...       ...  ...       ...                 ...               ...
20626  100    196  0.477011  ...  0.109500                   4                 1
20627  100    197  0.408046  ...  0.366197                   3                 1
20628  100    198  0.522989  ...  0.053991                   2                 1
20629  100    199  0.436782  ...  0.234466                   1                 1
20630  100    200  0.316092  ...  0.218172                   0                 1

[20631 rows x 28 columns]

In [42]:
test_df_merged

        id  cycle  setting1  ...       s21  remaining_duration  failure_observed
0        1      1  0.632184  ...  0.661834                 142                 1
1        1      2  0.344828  ...  0.686827                 141                 1
2        1      3  0.517241  ...  0.721348                 140                 0
3        1      4  0.741379  ...  0.662110                 139                 1
4        1      5  0.580460  ...  0.716377                 138                 1
...    ...    ...       ...  ...       ...                 ...               ...
13091  100    194  0.781609  ...  0.418669                  24                 1
13092  100    195  0.436782  ...  0.528721                  23                 1
13093  100    196  0.465517  ...  0.429301                  22                 1
13094  100    197  0.281609  ...  0.518779                  21                 1
13095  100    198  0.574713  ...  0.402237                  20                 1

[13096 rows x 28 columns]

Remove the `id` and `cycle` columns, as we will not use them in the survival analysis.

In [0]:
train_df_norm = train_df_norm.drop(columns=["id", "cycle"])
test_df_merged = test_df_merged.drop(columns=["id", "cycle"])

In [0]:
train_df_norm.to_csv("training_set.csv",index = None, header=True)
test_df_merged.to_csv("test_set.csv",index = None, header=True)